<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xmlns:web="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="5.0">
	<servlet>
		<description></description>
		<display-name>Home</display-name>
		<servlet-name>Home</servlet-name>
		<servlet-class>com.trigger_soft.servlets.Home</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Home</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Home</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	<display-name>jee-example</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>ContactUs</display-name>
		<servlet-name>ContactUs</servlet-name>
		<servlet-class>com.trigger_soft.servlets.Contact</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ContactUs</servlet-name>
		<url-pattern>/contact</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Profile</display-name>
		<servlet-name>Profile</servlet-name>
		<servlet-class>com.trigger_soft.servlets.Profile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Profile</servlet-name>
		<url-pattern>/profile</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Signin</display-name>
		<servlet-name>Signin</servlet-name>
		<servlet-class>com.trigger_soft.servlets.Signin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Signin</servlet-name>
		<url-pattern>/signin</url-pattern>
	</servlet-mapping>
</web-app>
